h1 {
  color:#ffa200;
  background-color: red;
  font-size: 25px;
  font-family: "Sanskirt", Times, serif;
  width: 20px;
}
image{https://www.google.com/search?sca_esv=a2e5445f7d664bd0&sca_upv=1&rlz=1C5GCCM_en&q=youtube&udm=2&fbs=AEQNm0Do4mQ_iNuvMb8tSM7GyIgpWGSY1QZPN8CE5R0j9A14QFvhiWLJdw40lnXTdX4cOYeRIacg159II5Bo6HO76mOFciv6xRLszrsArcq7o9wHrCNvbDKgcbbJt5am1rvT3plWu_puPQ_wvDfJxK-e7DQHovie9oIhzgtPCQLOoYoTXg9VXqvQdy9e_8dLHOBDb6oZKgqMawHAHFYpItpD4HWp2zk4Yw&sa=X&ved=2ahUKEwjDwrGt17CHAxW_F1kFHatxAqkQtKgLegQIDxAB&biw=1440&bih=779&dpr=1#vhid=xiDo9cKgggtvfM&vssid=mosaic
     margin:20px;}